{% extends 'shoppings/base.html' %}
{% block style %}
<style>

</style>
{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg p-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">PUEBCO</a>

    <div id="navbarNavDropDown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link mx-2 active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropDownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">wishlist</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">
            <a class="dropdown-item" href="#">Blog</a>
            <a class="dropdown-item" href="#">About us</a>
            <a class="dropdown-item" href="#">Contact us</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}