{% extends 'shoppings/base.html' %}
{% block style %}
<style>
.flexMain{
  display:flex;
  align-items:center;
}
.flex2{
  flex:2
}
</style>
{% endblock %}
{% block content %}
<div id="menuHolder">
<div role="navigation" class="sticky-top border-bottom border-top" id="mainNavigation">
  <div class="flexMain">
    <div class="flex2">
      <button class="whiteLink siteLink" style="border-right:1px solid #eaeaea" onclick="menuToggle()"><i class="fas fa-bars me-2"></i> MENU</button>
    </div>
    <div class="flex3 text-center" id="siteBrand">
      MY AWESOME SITE
    </div>

    <div class="flex2 text-end d-block d-md-none">
      <button class="whiteLink siteLink"><i class="fas fa-search"></i></button>
    </div>

    <div class="flex2 text-end d-none d-md-block">
      <button class="whiteLink siteLink">REGISTER</button>
      <button class="blackLink siteLink">Login</button>
    </div>
  </div>
</div>
{% endblock %}